.contact-header {
    display: flex;
    justify-content: center;
    font-family: "BBH Sans Bogle", sans-serif;
    font-size: 2rem;
    background: #db0a40;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    line-height: 2.5;
}

.contact-container {
    width: 50%;
}

.contact-form {
    background: #00162b;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.form {
    background: linear-gradient(
        135deg,
        rgba(13, 45, 76, 0.8) 0%,
        rgba(26, 46, 65, 0.9) 100%
    );
    padding: 2.5rem;
    border-radius: 28px;
    gap: 1.75rem;
    display: flex;
    flex-direction: column;
}

#name,
#email {
    border-radius: 0.2rem;
    background: #1e3750;
    font-family: "Open Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1.5px solid rgba(255, 255, 255, 0.15);
    color: white;
    height: 2.5rem;
    padding: 0.5rem 0.75rem;
}

#message {
    border-radius: 0.2rem;
    background: #1e3750;
    font-family: "Open Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1.5px solid rgba(255, 255, 255, 0.15);
    resize: vertical;
    color: white;
    min-height: 2rem;
    line-height: 2;
    padding: 0.5rem 0.75rem;
}

.forms {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#email::placeholder,
#name::placeholder,
#message::placeholder {
    color: white;
    opacity: 0.5;
    text-transform: none;
}

.submit-button {
    background-color: #db0a40;
    font-family: "Open Sans", sans-serif !important;
    color: white;
    padding: 1.6rem 2rem;
    border: 0;
    border-radius: 0.625rem;
    font-size: 1.312rem;
    box-sizing: border-box;
    cursor: pointer;
    align-self: center;
    width: auto;
}
