@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif !important;
  text-transform: capitalize;
}

body {
  background-color: #00162b;
  padding: 20px;
  color: #f8f8f8;
  margin: auto;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 1.25rem;
}

h1 {
  font-weight: 800;
  font-size: 50px;
}

h2 {
  font-weight: 700;
  font-size: 40px;
}

a {
  text-decoration: none;
  color: white;
}
